.renderer a {
    @apply !text-active no-underline;
}

.media-grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.media-grid-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.media-grid-3 > *:nth-child(1) {
    grid-row: 1 / 3;
}

.media-grid-3 > *:nth-child(2),
.media-grid-3 > *:nth-child(3) {
    grid-column: 2 / 3;
    grid-column: 2 / 3;
}

.media-grid-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.media-grid-5 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.media-grid-5 > *:nth-child(1) {
    grid-column: 1 / 4;
}

.media-grid-5 > *:nth-child(2) {
    grid-column: 4 / 7;
}

.media-grid-5 > *:nth-child(3) {
    grid-column: 1 / 3;
}
.media-grid-5 > *:nth-child(4) {
    grid-column: 3 / 5;
}

.media-grid-5 > *:nth-child(5) {
    grid-column: 5 / 7;
}
